body {
    font-family:"Barlow Condensed" , sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 100vh;
    background-image:url(images/happy.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;  
    margin: 0; 
}
 
 #quiz-container {
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    text-align: center;
    width: 400px;
  }
  
  .btn-container {
    margin-top: 20px;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn.correct {
    background-color: #28a745;
  }
  
  .btn.wrong {
    background-color: #dc3545;
  }
  
  #next-btn {
    display: none;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: #6eb3c2;
  }

  #easy-btn{
    background-color: #7096D1;
    border-radius: 10px;
    padding: 10px;

  }
  #medium-btn{
    background-color: #334EAC;
    border-radius: 10px;
    padding: 10px;
  }
  #hard-btn{
    background-color: #081F5C;
    border-radius: 10px;
    padding: 10px;
  }
  
  #score-container {
    margin-top: 20px;
  }

  
  #leaderboard {
    list-style-type: none;
    padding: 20px;
  }
  
  #leaderboard li {
    background: #567CBD;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  
  #main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
   #leaderboard-container {
    width: 40%;  
    margin: 20px;
    padding: 40px;
    border: 1px solid #424141;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  }
  @media (max-width: 768px){

    #main-container {
      flex-direction: column;
    }
  
    #quiz-container, #leaderboard-container {
      width: 100%;
      padding: 10px;
    }
  
    #difficulty-container button, #answer-buttons .btn, #next-btn {
      font-size: 14px;
    }
  
    #timer, #question-container, #score-container {
      font-size: 16px;
    }
  
  }
  
@media(max-width : 520px){
  body {
    padding: 10px; 
  }
  
  #main-container {
    flex-direction: column;
    width: 100%; 
    max-width: 100%; 
    margin: 0 auto; 
    box-shadow: none; 
  }

  #quiz-container, #leaderboard-container {
    width: 100%; 
    padding: 10px; 
    margin: 10px auto; 
  }

  #difficulty-container button, #answer-buttons .btn, #next-btn {
    font-size: 14px;
  }

  #timer, #question-container, #score-container {
    font-size: 16px;
  }

  
}


















  
  
  
  
  